{% extends "layout.html" %}
{% block title %} - About{% endblock %}
{% block content %}
  <div class="jumbotron col-lg-12 col-xs-12">
    <h2>Convert credit into money</h2>
    <p class="lead">With our service you can simply use your credit
    card to deposit money into any UK bank account. Why not pay your rent with your credit card and earn those extra airmiles that you are missing out on every month?</p>
  </div>

  <div class="quotes row">
    <div class="col-lg-6 col-xs-12">
      <blockquote class="blockquote-reverse">
      <p>It is so easy to use. I pay my landlord and friends with
    NicerPay every month and earn extra Avios at the same time - great!</p>
      <footer>Alex S., uses NicerPay regularly</footer>
      </blockquote>
    </div>
    <div class="col-lg-6 col-xs-12">
      <blockquote class="blockquote-reverse">
      <p>These days everyone has a smart phone but no cash on them. With NicerPay I can
    charge my customers without any expensive extra hardware - simple!</p>
      <footer>Robin N., Taxi Driver</footer>
      </blockquote>
    </div>
  </div>
  
  <div class="marketing row">
    <div class="col-lg-6 col-xs-12">
      <h4>What cards are accepted?</h4>
      <p>All major credit cards are accepted (American Express,
    MasterCard, and Visa).</p>

      <h4>What are the transaction fees?</h4>
      <p>{{ currency_html|safe }}3 for transactions below {{ currency_html|safe
      }}100. Above it is 3.1% of the transaction volume, of which most go to your card issuer.</p>

      <h4>What is the best way to contact us?</h4>
      <p>Simply via e-mail: <a href="mailto:info@nicerpay.com">info@nicerpay.com</a></p>
    </div>
    <div class="col-lg-6 col-xs-12">
      <h4>How safe is it?</h4>
      <p>Very safe - we are using the reliable and trusted engine from
      stripe.com for each payment.</p>

      <h4>How long does it take?</h4>
      <p>Currently 7 days or faster.</p>
    </div>
  </div>
  
  {% endblock %}
