{% extends "layout.html" %}
{% block title %} - Receive Money{% endblock %}
{% block content %}
  <div class="confirm row">
    <div class="col-lg-12 col-xs-12">
      <h3>Congratulations, {{name_receiver}}!</h3>
      <p>Your custom payment link has been created.</p>
    </div>
  </div>

  <div class="clearfix visible-lg"><p>&nbsp;</p></div>
  
  <div class="button row">
    <div class="col-lg-4 col-lg-offset-2 col-xs-12">
      <a href="{{ rel_link }}" class="btn btn-success btn-block"
    role="button" target="_blank">Open link in new page <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <div class="clearfix visible-xs"><p>&nbsp;</p></div>
    <div class="col-lg-4 col-xs-12">
      <a href="
mailto:?{% if email_receiver != '' %}cc={{
    email_receiver }}&{% endif %}subject=Payment for
 {{name_receiver}}&body=Please make a payment for
 {{name_receiver}}{% if amount_charged != '' %} of {{currency|upper}}{{ amount_charged
    }}{% endif %}
 using the following link:%0D%0A%0D%0A{{ abs_link }}%0D%0A%0D%0AThank you for using NicerPay.
      "
    class="btn btn-success btn-block" role="button">Send link via e-mail <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>

  <p>&nbsp;</p>
  
  <div class="link row">
    <div class="col-lg-12 col-xs-12">
      <div class="well well-lg">
	<div class="row">
	  <div class="col-lg-12 hidden-xs">
	    <p class="text-center"><strong><a href="{{ rel_link }}" target="_blank">{{ abs_link }}</a></strong></p>
	    <p class="text-center"><i>or even shorter:</i></p>
	  </div>
	    <div class="col-lg-12 col-xs-12">
	    <p class="text-center"><strong><a href="{{ abs_tiny_link }}" target="_blank">{{ abs_tiny_link }}</a></strong></p>
	  </div>
	</div>
      </div>
    </div>
  </div>

  <div class="info row">
    <div class="col-lg-12 col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">What does this link do?</h3>
        </div>
        <div class="panel-body">
	  You can share this link as many times as you want, it will always work.
	  </br></br>
	   {% if amount_charged != '' %}
          This payment link will charge {{
    currency_html|safe}}{{ amount_charged }}. From each
    payment made with this link we will deduct the fee (mainly from
    the card issuers) and transfer <strong>{{ currency_html|safe
    }}</i>{{ amount_paid_out }}</strong> to your specified bank account{% if reference != '' %}
    (reference: <strong>{{ reference }}</strong>){% endif %}.
	  {% else %}
	  We will <strong>deduct</strong> the fee (mainly from the card issuers) from
    any payment made with this link. The remaining sum will be
    transferred to your specified bank account{% if reference != '' %}
    (reference: <strong>{{ reference }}</strong>){% endif %}.
	  {% endif %}
	  
	  {% if email_receiver != '' %}
	  </br></br>
	  You will receive an e-mail (to: <strong>{{email_receiver}}</strong>) every time someone uses your link
	  to make a payment.
	  {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
