{% extends "layout.html" %}
{% block title %} - Receive Money{% endblock %}
{% block content %}
  <div class="account details row">
    <div class="col-lg-12 col-xs-12">
      <h3>Congratulations, {{name_receiver}}!</h3>
      <p>Your custom payment link has been created:</br>&nbsp;</p>
    </div>
  </div>

  <div class="account details row">
    <div class="col-lg-12 col-xs-12">
      <div class="well well-lg">
	<p class="text-center"><strong>{{ abs_link }}</strong></p>
	<p class="text-center"><i>or even shorter:</i></p>
	<p class="text-center"><strong>{{ abs_tiny_link }}</strong></p>
      </div>
    </div>
  </div>

  <div class="account details row">
    <div class="col-lg-12 col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">What does this link do?</h3>
        </div>
        <div class="panel-body">
	  You can share this link as many times as you want, it will always work.
	  </br></br>
	   {% if amount_charged != '' %}
          This payment link will charge {{
    currency_html|safe}}{{ amount_charged }}. From each
    payment made with this link we will deduct the fee (mainly from
    the card issuers) and transfer <strong>{{ currency_html|safe
    }}</i>{{ amount_paid_out }}</strong> to your specified bank account{% if reference != '' %}
    (reference: <strong>{{ reference }}</strong>){% endif %}.
	  {% else %}
	  We will <strong>deduct</strong> the fee (mainly from the card issuers) from
    any payment made with this link. The remaining sum will be
    transferred to your specified bank account{% if reference != '' %}
    (reference: <strong>{{ reference }}</strong>){% endif %}.
	  {% endif %}
	  
	  {% if email_receiver != '' %}
	  </br></br>
	  You will receive an e-mail (to: <strong>{{email_receiver}}</strong>) every time someone uses your link
	  to make a payment.
	  {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="account details row">
    <p>&nbsp;</p>
     <div class="col-lg-2 col-xs-0">
    </div>
    <div class="col-lg-5 col-xs-12">
      <a href="{{ rel_link }}" class="btn btn-success"
    role="button" target="_blank">Open link in new page <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <div class="col-lg-5 col-xs-12">
      <a href="
mailto:?{% if email_receiver != '' %}cc={{
    email_receiver }}&{% endif %}subject=Payment for
 {{name_receiver}}&body=Please make a payment for
 {{name_receiver}}{% if amount_charged != '' %} of {{ amount_charged
    }} {{ currency|upper }}{% endif %}
 using the following link:%0D%0A%0D%0A{{ abs_link }}%0D%0A%0D%0AThanks.
      "
    class="btn btn-success" role="button">Send link via e-mail<span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>


{% endblock %}
