{% extends "layout.html" %}
{% block title %} - Receive Money{% endblock %}
{% block content %}
  <div class="account details row">
    <div class="col-lg-2 col-xs-1">
    </div>

    <div class="col-lg-8 col-xs-10">
      <form class="form-horizontal" role="form" action="/generate_payment/" method="post">

      {{ form.csrf_token }}

      {% from "_formhelpers.html" import render_field %}
      {{ render_field(form.amount, class='form-control', placeholder='0.00', currency_html=currency_html) }}
      {{ render_field(form.name_receiver, class='form-control', placeholder='John Smith', maxlength='18') }}
      {{ render_field(form.email_receiver, class='form-control') }}
      {{ render_field(form.account_number, class='form-control', placeholder='12345678', maxlength='8') }}
      {{ render_field(form.sort_code, class='form-control', placeholder='12-34-56', maxlength='8') }}
      {{ render_field(form.reference, class='form-control', maxlength='18') }}


      <div class="next row">
        <div class="form-group">
          <div class="col-lg-5 col-lg-offset-5 col-xs-12">
	    <button type="submit" class="btn btn-success btn-block">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
          </div>
        </div>
      </div>

      </form>
    </div>
    
    <div class="col-lg-2 col-xs-1">
    </div>
  </div>
{% endblock %}
