<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ url_for('static',filename='ico/favicon.ico') }}" rel="shortcut icon">
    <title>{{ company }}{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- if needed: <script type="text/javascript" src="{{ url_for('static', filename='js/updater.js') }}"></script> -->

    <!-- Google Analytics script -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/analytics.js') }}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="container">
      <div class="header row">
	<div class="col-lg-6 col-xs-6">
	<h3 class="text-info">{{ company }}</h3>
	</div>
	<div class="col-lg-6 col-xs-12">
	  <ul class="nav nav-pills pull-right">
	    <li{% if request.path == "/" or "/custom/" in request.path or "/verify" in request.path %} class="active"{% endif %}><a href="/">Pay Money</a></li>
	    <li{% if request.path == "/generate_payment/" %} class="active"{% endif %}><a href="/generate_payment/">Receive</a></li>
	    <li{% if request.path == "/about/" %} class="active"{% endif %}><a href="/about/">About</a></li>
	  </ul>
        </div>
      </div>
      {% block content %}{% endblock %}

      <div class="clearfix visible-lg visible-xs"><p>&nbsp;</p></div>
      
      <div class="footer row">
	{% block footer %}
	<div class="col-lg-4 col-xs-12">
	<p align="left">
	<img src="{{ url_for('static', filename='logos/amex.png') }}" alt="Amex" title="Amex"height="30px" width="49px"/>
	<img src="{{ url_for('static', filename='logos/mastercard.png') }}" alt="MasterCard" title="MasterCard"height="30px" width="49px"/>
	<img src="{{ url_for('static', filename='logos/visa.png') }}" alt="Visa" title="Visa"height="30px" width="49px"/>
	</p>
	</div>
	<div class="col-lg-4 col-lg-offset-4 col-xs-12">
	<p align="right">&copy; {{ company }} 2014</p>
	</div>
	{% endblock %}
      </div>
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
	 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
