{% extends "layout.html" %}
{% block title %} - Pay Money{% endblock %}
{% block content %}
  <!--<div class="jumbotron">
    <h1>Convert credit into cash</h1>
    <p class="lead">With this service you can simply use your credit card to deposit cash into any bank account. Why not pay your rent with your credit card and earn those extra airmiles that you are missing out on every month?</p>
  </div>--!>

  <div class="account details row">
    <div class="col-lg-2">
    </div>
    
    <div class="col-lg-8 col-xs-12">
      <form class="form-horizontal" role="form" action="/verify" method="post">
      
        {% if amount.valid==True %}
	<div class="form-group">
	{% elif amount.valid==False %}
	<div class="form-group has-error">
	{% else %}
	<div class="form-group">	
	{% endif %}
	  {% if amount.hidden %}
	  <input type="hidden" name="amount" value="{{ amount.value }}">
	  {% else %}
	  <label for="amount_id" class="col-lg-5 control-label">Amount</label>
          <div class="col-lg-5 input-group">
	    <span class="input-group-addon"><i class="fa fa-gbp"></i></span>
	    <input type="text" class="form-control" id="amount_id"
	    name="amount" placeholder="1234.56"
	    
	    onkeyup="output_text()" onclick="output_text()"
            onmouseout="output_text()" onmouseover="output_text()"
	    
	    value="{{ amount.value }}" {% if amount.read_only %}readonly{% endif %}>
	    <input type="hidden" name="read_only_amount" {% if amount.read_only %}value="True"{% else %}value="False"{% endif %}>
	  </div>
	  {% endif %}
	</div>

        {% if name_receiver.valid==True %}
	<div class="form-group">
	{% elif name_receiver.valid==False %}
	<div class="form-group has-error">
	{% else %}
	<div class="form-group">	
	{% endif %}
	  {% if name_receiver.hidden %}
	  <input type="hidden" name="name_receiver" value="{{ name_receiver.value }}">
	  {% else %}
	  <label for="name_receiver_id" class="col-lg-5 control-label">Account Holder Name</label>
          <div class="col-lg-5 input-group">
	    <input type="text" class="form-control" id="name_receiver_id"
	    name="name_receiver" placeholder="John Smith" maxlength="18"

	    onmousemove="output_text()"

	    value="{{ name_receiver.value }}" {% if name_receiver.read_only %}readonly{% endif %}>
	    <input type="hidden" name="read_only_name_receiver" {% if name_receiver.read_only %}value="True"{% else %}value="False"{% endif %}>
	  </div>
	  {% endif %}
	</div>

	{% if account_number.valid==True %}
	<div class="form-group">
	{% elif account_number.valid==False %}
	<div class="form-group has-error">
	{% else %}
	<div class="form-group">	
	{% endif %}
	  {% if account_number.hidden %}
	  <input type="hidden" name="account_number" value="{{ account_number.value }}">
	  {% else %}
	  <label for="account_number_id" class="col-lg-5 control-label">Account Number</label>
          <div class="col-lg-5 input-group">
	    <input type="text" class="form-control" id="account_number_id"
	    name="account_number" placeholder="12345678" maxlength="8" 
	    value="{{ account_number.value }}" {% if account_number.read_only %}readonly{% endif %}>
	    <input type="hidden" name="read_only_account_number" {% if account_number.read_only %}value="True"{% else %}value="False"{% endif %}>
	  </div>
	  {% endif %}
	</div>

	{% if sort_code.valid==True %}
	<div class="form-group">
	{% elif sort_code.valid==False %}
	<div class="form-group has-error">
	{% else %}
	<div class="form-group">	
	{% endif %}
	  {% if sort_code.hidden %}
	  <input type="hidden" name="sort_code" value="{{ sort_code.value }}">
	  {% else %}
	  <label for="sort_code_id" class="col-lg-5 control-label">Sort Code</label>
          <div class="col-lg-5 input-group">
	    <input type="text" class="form-control" id="sort_code_id"
	    name="sort_code" placeholder="12-34-56" maxlength="8" 
	    value="{{ sort_code.value }}" {% if sort_code.read_only %}readonly{% endif %}>
	    <input type="hidden" name="read_only_sort_code" {% if sort_code.read_only %}value="True"{% else %}value="False"{% endif %}>
	  </div>
	  {% endif %}
	</div>
	
	{% if reference.valid==True %}
	<div class="form-group">
	{% elif reference.valid==False %}
	<div class="form-group has-error">
	{% else %}
	<div class="form-group">	
	{% endif %}
	  {% if reference.hidden %}
	  <input type="hidden" name="reference" value="{{ reference.value }}">
	  {% else %}
	  <label for="reference_id" class="col-lg-5 control-label">Reference</label>
          <div class="col-lg-5 input-group">
	    <input type="text" class="form-control" id="reference_id"
	    name="reference" maxlength="18" 
	    value="{{ reference.value }}" {% if reference.read_only %}readonly{% endif %}>
	    <input type="hidden" name="read_only_reference" {% if reference.read_only %}value="True"{% else %}value="False"{% endif %}>
	  </div>
	  <label for="reference" class="col-lg-1 control-label">optional</label>
	  {% endif %}
	</div>

	{% if email_sender.valid==True %}
	<div class="form-group">
	{% elif email_sender.valid==False %}
	<div class="form-group has-error">
	{% else %}
	<div class="form-group">	
	{% endif %}
	  {% if email_sender.hidden %}
	  <input type="hidden" name="email_sender" value="{{ email_sender.value }}">
	  {% else %}
	  <label for="email_sender_id" class="col-lg-5 control-label">Your E-Mail</label>
          <div class="col-lg-5 input-group">
	    <input type="text" class="form-control" id="email_sender_id"
	    name="email_sender" 
	    value="{{ email_sender.value }}" {% if email_sender.read_only %}readonly{% endif %}>
	    <input type="hidden" name="read_only_email_sender" {% if email_sender.read_only %}value="True"{% else %}value="False"{% endif %}>
	  </div>
	  <label for="email_sender" class="col-lg-1 control-label">optional</label>
	  {% endif %}
	</div>

	<input type="hidden" name="email_receiver" value="{{ email_receiver.value }}">
	<input type="hidden" name="read_only_email_receiver" {% if email_receiver.read_only %}value="True"{% else %}value="False"{% endif %}>	
	<input type="hidden" name="add_fee" value="{{ add_fee }}">

	<div class="form-group">
          <div class="col-lg-offset-5 col-lg-5">
	    <button type="submit" class="btn btn-success"

	    onMouseOver="output_text()"

	    >Next</button>
          </div>
        </div>

	<!-- JAVASCRIPT HERE - deacticate for the time being
	<div class="form-group">
	  <div class="col-lg-offset-5 col-lg-7">
	    <p id="amount_output_text"></p>
	  </div>
	</div>
	-->

      </form>
    </div>
    
    <div class="col-lg-2">
    </div>
  </div>

  <!--
      <div class="row marketing">
        <div class="col-lg-6">
          <h4>What cards are accepted?</h4>
          <p>All major credit cards are accepted (Visa, Amex, Mastercard).</p>

          <h4>What is the extra charge?</h4>
          <p>4%, of which most go to your card issuer.</p>
        </div>

        <div class="col-lg-6">
          <h4>How fast?</h4>
          <p>Usually a couple of hours with UK cards and accounts.</p>

          <h4>How safe is it?</h4>
          <p>Fraud protection is a priority for us and your card details will not be stored.</p>
        </div>
      </div>
      -->
{% endblock %}
